In [ ]:
# 5월 4일
# 파이썬 기초 복습
# 연습문제 풀이

In [2]:
name = {"길동" : 20, "철수" : 25, "영희" : 27}
del name["길동"]
print(name)

{'철수': 25, '영희': 27}

In [3]:
name = {"길동" : 20, "철수" : 25, "영희" : 27}
name["철수"] = 27
print(name)

{'길동': 20, '철수': 27, '영희': 27}

In [4]:
for i in range(9) :
	print(i)

0
1
2
3
4
5
6
7
8

In [7]:
# *****
# *****
# *****
# *****
# ***** 의 출력이 나오게 하기

for i in range(5):
  print('*' * 5)

*****
*****
*****
*****
*****

In [8]:
# *
# **
# ***
# ****
# ***** 의 출력이 나오게 하기

for i in range(5):
  print('*' * (i+1))

*
**
***
****
*****

In [3]:
# 정수 x를 입력받을 때 내림 차순으로 결과가 출력되게 하기
# 예시; x = 5
# 5
# 4
# 3
# 2
# 1

x = int(input('정수를 입력하세요'))
for i in range(x,0,-1):
  print(i)

정수를 입력하세요13
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
# x 이하의 정수를 출력하는데 10개씩 줄바꿈을 하여 출력되게 하기
# 예시: x = 30
# 1 2 3 4 5 6 7 8 9 10
# 11 12 13 14 15 16 17 18 19 20
# 21 22 23 24 25 26 27 29 29 30


x = int(input('정수를 입력하여 주세요'))
for i in range(x):
   if i % 10 == 0:
      print()
   print(i+1, end=' ')

정수를 입력하여 주세요14

1 2 3 4 5 6 7 8 9 10
11 12 13 14