## 함수

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 파선아실 (파라미터는 선언할 때 아규먼트는 실행할 때)

def function(x, y):
    z = x + y
    return z  # return은 생략 가능
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = 12

In [ ]:
def function(x,y): #Input
    z = x + y      #Function
    print(z)       #Output?
print("function(5,7) = ", function(5,7))

12
function(5,7) =  None

In [ ]:
def function(x, y):
    print('hello')
    print('hello')
    print('hello')
    print('hello')
    return x + y

x = function(1, 1)
print(x + x)

hello
hello
hello
hello
4

In [ ]:
def function1(x):
    print('world1')
    print('world2')
    print('world3')
    return x + x

def function2(x, y):
    print('hello1')
    print('hello2')
    z = function1(10)
    return x + y + z

a = function1(1)
b = function2(3, 4)
print(a, b)

world1
world2
world3
hello1
hello2
world1
world2
world3
2 27

In [ ]:
# 함수 안에 있는 변수나 함수는 함수가 끝나면 휘발됩니다. 
# 메모리에서 사라져요.
def f2(x, y):
    def f1(x):
        print('world1')
        return x + x
    print('hello1')
    z = f1(10)
    return x + y + z

# a = f1(1) # 함수 안에 있는 함수는 밖에서 호출할 수 있지 않습니다.
b = f2(3, 4)
print(b)

# print(z) # 함수가 끝났기 때문에 x, y, z에 접근할 수 없습니다.

hello1
world1
27

In [9]:
# 1
x = 100
def plusX(x):
    x = x + 100
    return x

print(plusX(10))

110

In [10]:
# 2
x = 100
def plusX(z):
    z = z + x
    return z

print(plusX(10))

110

In [11]:
# 3
# 문제가 생기는 코드
x = 100
def plusX(z):
    x = z + x
    return z

print(plusX(10))

UnboundLocalError: ignored

In [12]:
# 4
# 문제가 생기지 않는 코드
x = 100
def plusX(z):
    global x # 권하지 않습니다.
    x = z + x
    return z

print(plusX(10))
x

10

110

In [13]:
# 5
x = 100
def plusX(x):
    return x + 10

x = plusX(x)

In [ ]:
x = 100
def plusX(z):
  # v가 x를 가리키게 되었기 때문에 수정할 수 있는 권한이 들어오지 않았을까?
  # No
  v = x
  x = z + x
  return z

plusX(10)

## 재귀함수

In [ ]:
#  효율도 매우 좋지 않습니다. 다만 메모라이징 기법을 사용하면 좋긴합니다.
#  대부분의 코드는 for로 대체할 수 있습니다.
#  다이나믹 프로그래밍 등 필수적으로 사용되는 곳이 있습니다.

In [14]:
def factorial(n):
    if n == 1:
        return n
    return n * factorial(n-1)

factorial(5)

#                 return 값
# factorial(5) == 5 * factorial(4) == 5 * 24
# factorial(4) == 4 * factorial(3) == 4 * 6
# factorial(3) == 3 * factorial(2) == 3 * 2
# factorial(2) == 2 * factorial(1) == 2 * 1
# factorial(1) == 1

120

In [15]:
result = 1
for i in range(1, 6):
    result *= i

result

120

In [16]:
def string_reverse(s):
    if len(s) == 1:
        return s
    return string_reverse(s[1:]) + s[0]

string_reverse('hello')

# string_reverse('hello') == string_reverse('ello') + 'h' == 'olle' + 'h' == 'olleh'
# string_reverse('ello') == string_reverse('llo') + 'e' == 'oll' + 'e' == 'olle'
# string_reverse('llo') == string_reverse('lo') + 'l' == 'ol' + 'l' == 'oll'
# string_reverse('lo') == string_reverse('o') + 'l' == 'o' + 'l' == 'ol'
# string_reverse('o') == 'o'

'olleh'

In [19]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

I
love
python

In [20]:
def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [21]:
plus = lambda x, y: x + y
minus = lambda x, y: x - y
multiply = lambda x, y: x * y
divide = lambda x, y: x / y

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [ ]:
def plus(num1, num2):
    try:
        result = int(num1) + int(num2)
        return result
    except:
        return '연산할 수 없습니다.'

print(f'plus : {plus(10, 5)}')
print(f'plus : {plus("10", "5")}')
print(f'plus : {plus("10", 5)}')
print(f'plus : {plus(10, "5")}')
print(f'plus : {plus("abc", 5)}')
print(f'plus : {plus(10, "abc")}')

In [ ]:
float("inf") > 1000000000000000000000 # float("inf") : 양의 무한대

In [24]:
# factory 함수
# 클로저
def factory(x):
    def 승수(n):
        return x ** n
    return 승수

제곱3 = factory(3)

# 실제 제곱3는 아래와 같습니다.
# def 승수(n):
#     return 3 ** n

제곱4 = factory(4)

제곱3(2)
제곱3(3)
제곱4(2)
제곱4(3)

64

## 리스트

* 순서가 있는 데이터입니다.
* 값의 수정이 가능합니다.

In [25]:
ㅣ = [10, 20, 30, 40]

In [26]:
ㅣ[0]

10

In [27]:
ㅣ[0] = 10000
ㅣ  # mutable한 객체 (수정가능한 객체)  <-> immutable한 객체 (문자열)

[10000, 20, 30, 40]

In [28]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
for i in range(len(data)):
    for j in range(len(data[1])):
        data[i][j] *= 2

data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [34]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data[0][0] = data[0][0] * 2
data[0][1] = data[0][1] * 2
data[0][2] = data[0][2] * 2
data[1][0] = data[1][0] * 2
data[1][1] = data[1][1] * 2
data[1][2] = data[1][2] * 2
data[2][0] = data[2][0] * 2
data[2][1] = data[2][1] * 2
data[2][2] = data[2][2] * 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [36]:
# data[start:stop:step]
data = [10, 20, 30, 40, 50, 60, 70]
data[1:-1]
data[:] # 매우 중요!

[10, 20, 30, 40, 50, 60, 70]

In [37]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [100, 20, 30, 40, 50, 60, 70])

In [38]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data[:] # data가 변하지 않음
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [10, 20, 30, 40, 50, 60, 70])

In [39]:
l = [10, 20, 30, 40, 50]
type(l), dir(l)

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [41]:
l = [10, 20, 30, 40]
l.append(50)    # 맨 뒤에 추가
l

[10, 20, 30, 40, 50]

In [43]:
l = [10, 20, 30, 40]
l.pop()    # 맨 뒤에 삭제
l

[10, 20, 30]

In [45]:
l = [10, 20, 30, 40]
l.pop(0)    # 맨 앞에 삭제
l

[20, 30, 40]

In [47]:
l = [10, 20, 30, 40]
l.clear()    # 삭제
l

[]

In [48]:
l = [10, 20, 30, 40]
data = l.copy()
data[0] = 1000
l, data

([10, 20, 30, 40], [1000, 20, 30, 40])

In [50]:
l = [10, 20, 30, 40]
data = l
data[0] = 1000
l, data

([1000, 20, 30, 40], [1000, 20, 30, 40])

In [51]:
l = [10, 20, 30, 40, 10, 10, 10]
l.count(10)

4

In [52]:
l = [10, 20, 30, 40, 10, 10, 10]
l.extend([1, 2, 3, 4, 5])
l

[10, 20, 30, 40, 10, 10, 10, 1, 2, 3, 4, 5]

In [53]:
l = [10, 20, 30, 40, 10, 10, 10]
l.append([1, 2, 3, 4, 5])
l

[10, 20, 30, 40, 10, 10, 10, [1, 2, 3, 4, 5]]

In [54]:
# 실무에서 많이 사용하는 코드입니다.
# 어떤 값을 찾아내거나, 조건에 맞는 코드를 추출할 때 사용
def 함수(x):
    return x != 10

l = [10, 20, 10000, 30, 40, 10, 10, 10]
list(filter(함수, l))

[20, 10000, 30, 40]

In [55]:
l = [10, 20, 10000, 30, 40, 10, 10, 10]
list(filter(lambda x: x != 10, l))

[20, 10000, 30, 40]

In [56]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
l.reverse()    # l을 직접 만집니다.
l

[11, 55, 2, 1, 30, 20, 10, 30, 20, 10]

In [58]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(reversed(l))) # l을 직접 만지지 않습니다.
print(l)

[11, 55, 2, 1, 30, 20, 10, 30, 20, 10]
[10, 20, 30, 10, 20, 30, 1, 2, 55, 11]

In [59]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(sorted(l))) # l을 직접 만지지 않습니다.
print(l)

[1, 2, 10, 10, 11, 20, 20, 30, 30, 55]
[10, 20, 30, 10, 20, 30, 1, 2, 55, 11]

In [61]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(sorted(l, reverse=True)))   #내림차순

[55, 30, 30, 20, 20, 11, 10, 10, 2, 1]

In [62]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv'], 
     [1, 2, 'likelion'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def 함수(x):
    return len(x[2])

print(list(sorted(l, key=함수)))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.

print(list(sorted(l)))

def 함수2(x):
    return x[0]

print(list(sorted(l, key=함수2)))

# 3. 중앙에 위치한 값대로 정렬해주세요.
def 함수3(x):
    return x[1]

print(list(sorted(l)))
print(list(sorted(l, key=함수3)))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]